@font-face {
    font-family: "STIXv2";
    src: url("/files/STIXv2/WOFF2/STIX2Text-Regular.woff2") format("woff2"), url("/files/STIXv2/WOFF/STIX2Text-Regular.woff") format("woff"), url("/files/STIXv2/OTF/STIX2Text-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "STIXv2";
    src: url("/files/STIXv2/WOFF2/STIX2Text-Bold.woff2") format("woff2"), url("/files/STIXv2/WOFF/STIX2Text-Bold.woff") format("woff"), url("/files/STIXv2/OTF/STIX2Text-Bold.otf") format("opentype");
    font-weight: bold;
}

@font-face {
    font-family: "STIXv2";
    src: url("/files/STIXv2/WOFF2/STIX2Text-Italic.woff2") format("woff2"), url("/files/STIXv2/WOFF/STIX2Text-Italic.woff") format("woff"), url("/files/STIXv2/OTF/STIX2Text-Italic.otf") format("opentype");
    font-style: italic;
}

@font-face {
    font-family: "STIXv2";
    src: url("/files/STIXv2/WOFF2/STIX2Text-BoldItalic.woff2") format("woff2"), url("/files/STIXv2/WOFF/STIX2Text-BoldItalic.woff") format("woff"), url("/files/STIXv2/OTF/STIX2Text-BoldItalic.otf") format("opentype");
    font-weight: bold;
    font-style: italic;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1.5fr auto;
}

@media (min-width: 501px) {
    #container {
        grid-template-areas:
            "header header date"
            "thumbnail summary summary"
            "thumbnail summary summary"
            ".         .       .";
        grid-template-rows: auto 1fr 1fr 4em;
    }
}

@media (max-width: 500px) {
    #container {
        grid-template-areas:
            "header header date"
            "thumbnail thumbnail thumbnail"
            "summary summary summary"
            ".         .       .";
        grid-template-rows: auto 1fr auto 4em;
    }

}

.video-width {
    max-width: min(700px, 100%);
    max-height: min(400px, 100%);
}

#full-content {
    grid-area: 2 / 1 / 4 / 4;
}

#thumbnail {
    grid-area: thumbnail;
}

.image-link>img {
    width: 100%;
    object-fit: cover;
}

#summary {
    grid-area: summary;
}

#post-title {
    grid-area: header;
    font-size: 1.4em;
    padding-bottom: 0.5em;
}

#date {
    grid-area: date;
    justify-self: end;
    padding-left: 1em;
    padding-bottom: 0.5em;
}

#summary {
    justify-self: stretch;
}

/* responsive video embeddings */
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Initial cleanup
----------------------------------------------- */

html {
    padding: 0;
}

/* Main structure
----------------------------------------------- */
body {
    font-family: 'STIXv2';
    font-size: 100%;
    line-height: 120%;
    background-color: #fff;
    padding-left: 1em;
    padding-right: 1em;
}

header {
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 1em;
}

article {
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}

footer,
#theme-info,
#footer-include {
    clear: both;
}

/* YouTube videos */
iframe[src*="youtube.com"],
iframe[src*="vimeo.com"],
iframe[src*="youtube-nocookie.com"] {
    width: min(100%, 560px);
    aspect-ratio: 560 / 315;
}

/* Positioning
----------------------------------------------- */
body {
    text-align: left;
    margin: 0 0 0 0;
}

/* Navigation
----------------------------------------------- */
nav {
    margin: 20px 0 0 0;
    border-bottom: 1px solid #ccc;
    position: relative;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: block;
    margin: 0 15px 0 0;
    padding: 3px 0 3px 0;
    float: left;
    position: relative;
    border: 0;
}

nav ul li a {
    border: 0;
}

/* HTML element control
----------------------------------------------- */
p {
    margin: 0 0 0 0;
    text-align: justify;
    text-justify: auto;
    line-height: 1.5em;
}

p+p {
    text-indent: 1.5em;
}

.references p+p {
    text-indent: 0em;
}

blockquote {
    margin: 0 0 1em 0;
    padding: 0 30px;
    color: #808080;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

small {
    font-size: 0.8em;
}

sup,
sub {
    font-size: 0.75em;
}

sup {
    vertical-align: super;
}

sub {
    vertical-align: sub;
}

hr {
    width: 100%;
    height: 1px;
    background: #ccc;
    color: #ccc;
    margin: 1em 0;
    border: none;
    padding: 0;
}

pre,
code,
tt {
    font-family: 'Monaco', 'DejaVu Sans Mono', 'Consolas', 'Courier', 'Courier New', monospace;
    font-size: 1em;
    line-height: 1.8;
    color: #4d4d4d;
}

pre {
    margin: 0 0 1em 0;
    border: 1px solid #e5e5e5;
    padding: 0.5em 1em;
    white-space: pre-wrap;
    overflow: hidden;
    background: #fafafa;
}

code,
tt {
    background: #efefef;
}

pre code,
pre tt {
    background: none;
}

html>body code,
html>body tt,
html>body pre {
    font-size: 12px;
}

h3 code {
    text-transform: none;
}

/* margin on bottom of lists */
ul,
ol {
    margin: 0 0 1em 1em;
    padding: 0;
}

/* Nested lists should have consistent margins and indentation */
ul>*>ol,
ol>*>ul,
ul>*>ul,
ol>*>ol {
    margin: 0 0 0 1em;
}

ul {
    list-style: disc;
}

li {
    line-height: 1.5em;
    list-style-type: "- ";
}

ul li {
    margin: 0 0 0.25em 0.35em;
}

ol li {
    margin: 0 0 0.25em 0.45em;
}

figure>img {
    width: 100%;
    max-width: 650px;
}

.details-container,
details {
    background-color: #f0f0f0;
    padding: 1em 1em 0.2em 1em;
    margin-bottom: 1em;
}

details>summary {
    cursor: pointer;
}

details[open] summary~* {
    animation: sweep .5s ease-in-out;
}

@keyframes sweep {
    0% {
        opacity: 0;
        transform: translateX(-10px)
    }

    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

/* Headers
----------------------------------------------- */
#blog-title {
    font-size: 2.5em;
    font-weight: normal;
    margin: 0;
    border: none;
    padding: 0;
    line-height: 100%;
    text-align: center;
}

/* The headers tries to emulate the format of
 Oxfod Lecture Series in Mathematics and Its Applications */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    font-size: 1.5em;
    line-height: 2em;
    font-weight: bold;
}

#article-title {
    font-size: 1.7em;
    line-height: 1.7em;
    border-bottom: 1px solid #000;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 1.3em;
    line-height: 1.6em;
    font-style: italic;
    font-weight: bold;
}

h3 {
    font-size: 1.2em;
    line-height: 1.5em;
    font-style: italic;
    font-weight: bold;
}

.detail-header {
    font-size: 1.2em;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline dotted;
}

/* You must be doing it wrong... if you use the following headings
No one need more than 3 levels in a short article... */
h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.8em;
}

/* Footer
----------------------------------------------- */
footer {
    margin: 0.5em 20px 0 20px;
    border-top: 3px double #ccc;
    padding: 1em 0 0 0;
    font-size: 70%;
    color: #999;
}

/* Links
----------------------------------------------- */
a:not(.image-link) {
    /*text-decoration: none;
    border-bottom: 1px black dotted;*/
    text-decoration: black dotted underline;
}

a:not(.image-link):hover {
    text-decoration: black underline;
}

a:hover {
    border: 0;
}

#blog-title a {
    color: #000;
    text-decoration: none;
    border: 0;
}

.gist-file {
    line-height: 1.2;
    font-size: 75%;
}

.info {
    margin-top: 20px;
    color: #999;
}

.info a {
    text-decoration: none;
    border-bottom: 1px #999 dotted;
    color: #999;
}

#container .right {
    text-align: right;
}

ul#postindex {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul#postindex>li {
    margin: 0;
    padding: 0;
}

.header-section-number {
    margin-right: 10px;
}

.header-section-number::after {
    content: '.';
}

/* code highlight */
table.sourceCode,
tr.sourceCode,
td.lineNumbers,
td.sourceCode {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: none;
}

table.sourceCode {
    width: 100%;
    line-height: 100%;
}

td.lineNumbers {
    text-align: right;
    padding-right: 4px;
    padding-left: 4px;
}

td.sourceCode {
    padding-left: 5px;
}

code>span.kw {
    font-weight: bold;
}

code>span.dt {
    text-decoration: underline;
}

code>span.co {
    font-style: italic;
}

code>span.al {
    font-weight: bold;
}

code>span.er {
    font-weight: bold;
}

dt {
    font-weight: normal;
    font-style: italic;
}

dd {
    margin: 0;
    padding: 0 0 0.5em 0;
}

/* printing hide lame things*/
@media print {
    .hide-on-print {
        display: none !important;
    }
}