<li>
  <div id="container">
      <a href="$url$" id="post-title">$title$</a>
      <time id="date">$date$</time>
      $if(thumbnail)$
          $if(thumbnailtype)$
              <div id="full-content">$thumbnail$<div>
          $else$
              $if(summary)$
                  <a class="image-link" id="thumbnail" href="$url$"><img src="$reldir$$thumbnail$"/></a>
                  <p id="summary">$summary$</p>
              $else$
                  <a class="image-link" id="full-content" href="$url$"><img src="$reldir$$thumbnail$"/></a>
              $endif$
          $endif$
      $else$
          $if(summary)$
              <p id="full-content">$summary$</p>
          $endif$
      $endif$
  </div>
</li>
